* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// custom property 
$font-size-text:16px;

$font-size-text-1300px:15px;


.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main__title__none{
    display: none;
}
.navbar {
  width: 100%;
  padding-top: 16px;

  &__menu__logo{
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    &__item {
      margin-right: 42px;
      color: #333;
      font-family: Work Sans;
      font-size: $font-size-text;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }
  }

  &__button {
    padding: 11px 30px 11px 29px;
    color: #f07566;
    text-align: center;
    font-family: Hind Siliguri;
    font-size: $font-size-text;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(240, 117, 102, 0.24);
  }
}

.header {
  background-image: url("./img/Rectangle.png");
  background-repeat: no-repeat;
  background-position-x: right;

  &__main {
    display: flex;
    justify-content: space-between;

    &__title {
      &__company {
        display: flex;
        align-items: center;
        margin-bottom: 57px;
        p {
          color: #f07566;
          font-family: Hind Siliguri;
          font-size: $font-size-text;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 200% */
          letter-spacing: 1px;
          text-transform: uppercase;
          margin-left: 19px;
        }
      }

      &__text {
        color: #333;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
      }


      img {
        margin-bottom: 34px;
      }
    }
  }
}

@media only screen and (max-width:1250px){
    
    .header{
        background-size: 40%;
    }
    .header__main{
        &__image__img{
            width: 100%;
        }

        &__title{
            &__company{
                margin-bottom: 20px;
                p{
                    font-size: $font-size-text-1300px;
                }
            }
            &__text{
                width: 400px;
            }
            img{
                width: 70%;
                margin-bottom: 25px;
            }
        }

        
    }
    
}


@media only screen and (max-width:1100px){
    
    .header{
        background-size: 40%;
    }

    .navbar{
        &__button{
            padding: 10px 27px 10px 26px;
            font-size: 13px;
        }
    }
    .header__main{

        &__title{
            &__company{
                margin-bottom: 20px;
                p{
                    font-size: 13px;
                    margin-left: 20px;
                }
            }
            &__text{
                font-size: 18px;
                width: 350px;
            }
            img{
                width: 65%;
                margin-bottom: 13px;
            }
        }

        
    }
    
}

@media only screen and (max-width:950px){
    
    .header{
        background-size: 40%;
    }

    .navbar{

        &__list__item{
            font-size: 15px;
        }
        &__button{
            padding: 10px 27px 10px 26px;
            font-size: 12px;
        }
    }
    .header__main{

        &__title{
            &__company{
                margin-bottom: 20px;
                p{
                    font-size: 12px;
                    margin-left: 20px;
                }
            }
            &__text{
                font-size: 17px;
                width: 320px;
            }
            img{
                width: 60%;
                margin-bottom: 13px;
            }
        }

        
    }
    
}


@media only screen and (max-width:850px){
    
    .header{
        background-size: 40%;
    }

    .navbar{
        &__menu__logo{
            display: block;
          }
        &__list__item{
            display: none;
            font-size: 15px;
        }

        &__list__item:nth-child(1){
            display: block;
        }
        &__button{
            display: none;
            padding: 10px 27px 10px 26px;
            font-size: 12px;
        }
    }
    .header__main{

        &__title{
            &__company{
                margin-bottom: 16px;
                p{
                    font-size: 11px;
                    margin-left: 14px;
                }

                svg{
                    width: 10px;
                }
            }
            &__text{
                font-size: 15px;

                line-height: 25px;
            }
            img{

                width: 60%;
                margin-bottom: 10px;
            }
        }

        
    }
    
}




@media only screen and (max-width:700px){
    
    .header{
        background-size: 40%;
    }

    .navbar{
        &__menu__logo{
            display: block;
          }
        &__list__item{
            display: none;
            font-size: 15px;
        }

        &__list__item:nth-child(1){
            display: block;
        }
        &__button{
            display: none;
            padding: 10px 27px 10px 26px;
            font-size: 12px;
        }
    }
    .header__main{
      .container{
        display: block;
      }
      &__title{
        display: none;
        &__text{
            font-size: 20px;
           } 
      }
      &__image{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &__title__none{
        display: block;
        
        }
        &__title__company{
            p{
                font-size: 16px;
            }
        }
       
      }
    }
    






    @media only screen and (max-width:400px){
    
        .header{
            background-size: 40%;
        }
    
        .navbar{
            &__menu__logo{
                display: block;
              }
            &__list__item{
                display: none;
                font-size: 15px;
            }
    
            &__list__item:nth-child(1){
                display: block;
            }
            &__button{
                display: none;
                padding: 10px 27px 10px 26px;
                font-size: 12px;
            }
        }
        .header__main{
          .container{
            display: block;
          }
          &__title{
            display: none;
            &__text{
                font-size: 20px;
                width: 90%;
               } 
          }
          &__image{
            width: 100%;
            display: flex;
            justify-content: center;
          }
          &__title__none{
            display: block;
            
            }
            &__title__company{
                p{
                    font-size: 16px;
                }
            }
           
          }
        }
        
    
    

.blog{
    background-image: url("./img/blog\ bg.png");
    background-repeat: no-repeat;
    &__list{
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__item{
            margin-top: 30px;
            width: 250px;
height: 368px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #E6EDF5;
background: #FFF;
padding: 32px 32px 35px 32px;

h2{
    margin-top: 89px;
    color: #333;
font-family: Hind Siliguri;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
margin-bottom: 18px;
}
p{
    color: rgba(51, 51, 51, 0.50);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}
        }
    }

}

@media only screen and (max-width:650px){
    
    .blog__list__item{
        width: 100%;
        margin-top: 30px;
    }
}

.feature{
   margin-top: 50px;
    
    &__icon{
        display: flex;
        align-items: center;
        p{
            color: #F07566;
font-family: Hind Siliguri;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 200% */
letter-spacing: 1px;
margin-left: 20px;
text-transform: uppercase;
        }
    }

    &__list{
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;

        &__item{
            width: 470px;
// height: 96px;
flex-shrink: 0;
         &__title{
            color: #333;
font-family: Hind Siliguri;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 114.286% */
letter-spacing: -1px;
         } 
         &__text{
            color: #333;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
         }

         &__icon{
            width: 470px;
height: 144px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 24px 48px 0px rgba(0, 17, 86, 0.08);
display: flex;
flex-direction: column;
// align-items: center;
justify-content: center;
padding: 25px 32px 26px 32px;


         }

         img{
            width: 100%;
         }
         &__none{
            display: none;
         }
        }
    }

    .star{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        p{
            margin-left: 20px;
            color: #333;
font-family: Hind Siliguri;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
        }
    }


}


@media only screen and (max-width:1200px){
    .feature{
        &__list{
            &__item{
                &:nth-child(1){
                    display: none;
                }
                width: 400px;
                &__title{
                    line-height: 40px;
                    font-size: 48px;
                    margin-bottom: 20px;
                }
                &__text{
                    line-height: 20px;
                }
                &__icon{
                    height: 100px;
                    width: 400px;
                }
            }
        }
    }
}



@media only screen and (max-width:1000px){
    .feature{
        &__list{
            display: block;
            &__item{
                width: 100%;
                &__title{
                    line-height: 60px;
                    font-size: 70px;
                    margin-bottom: 20px;
                }
                &__text{
                    font-size: 20px;
                    line-height: 20px;
                }
                &__icon{
                    margin-top: 30px;
                    font-size: 20px;
                    height: 130px;
                    width: 100%;
                }
            }
        }
    }
    .feature__list__item:nth-child(1){
        display: block;
    }
    .feature__list__item:nth-child(3){
        display: none;
    }
}

@media only screen and (max-width:600px){
    .feature{
        &__list{
            display: block;
            &__item{
                width: 100%;
                &__title{
                    line-height: 60px;
                    font-size: 60px;
                    margin-bottom: 20px;
                }
                &__text{
                    font-size: 20px;
                    line-height: 20px;
                }
                &__icon{
                    margin-top: 30px;
                    font-size: 20px;
                    height: 130px;
                    width: 100%;
                }
            }
        }
    }
    
}

@media only screen and (max-width:400px){
    .feature{
        &__list{
            display: block;
            &__item{
                width: 100%;
                &__title{
                    line-height: 40px;
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                &__text{
                    font-size: 20px;
                    line-height: 20px;
                }
                &__icon{
                    margin-top: 30px;
                    font-size: 16px;
                    height: 130px;
                    width: 100%;
                }
            }
        }
    }
    
}


.portfolio{
    .container{
        display: block;
    }
    &__icon{
        justify-content: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h3{
margin-left: 20px;
            color: #F07566;
font-family: Hind Siliguri;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 200% */
letter-spacing: 1px;
text-transform: uppercase;
        }

    }
    h2{
        color: #333;
text-align: center;
font-family: Hind Siliguri;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 114.286% */
letter-spacing: -1px;
margin-bottom: 28px;

    }
    p{
        color: rgba(51, 51, 51, 0.50);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item{
            list-style: none;
            h2{
                color: #333;
text-align: center;
font-family: Hind Siliguri;
font-size: 24px;
font-style: normal;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
line-height: 32px; /* 133.333% */
            }
            p{
                color: rgba(51, 51, 51, 0.50);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-bottom: 50px;
line-height: 32px; /* 200% */
            }
            img{
                width: 100%;
            }
        }
    }


}