* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__main__title__none {
  display: none;
}

.navbar {
  width: 100%;
  padding-top: 16px;
}
.navbar__menu__logo {
  display: none;
}
.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar__list__item {
  margin-right: 42px;
  color: #333;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.navbar__button {
  padding: 11px 30px 11px 29px;
  color: #f07566;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgba(240, 117, 102, 0.24);
}

.header {
  background-image: url("./img/Rectangle.png");
  background-repeat: no-repeat;
  background-position-x: right;
}
.header__main {
  display: flex;
  justify-content: space-between;
}
.header__main__title__company {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}
.header__main__title__company p {
  color: #f07566;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 19px;
}
.header__main__title__text {
  color: #333;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.header__main__title img {
  margin-bottom: 34px;
}

@media only screen and (max-width: 1250px) {
  .header {
    background-size: 40%;
  }
  .header__main__image__img {
    width: 100%;
  }
  .header__main__title__company {
    margin-bottom: 20px;
  }
  .header__main__title__company p {
    font-size: 15px;
  }
  .header__main__title__text {
    width: 400px;
  }
  .header__main__title img {
    width: 70%;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 1100px) {
  .header {
    background-size: 40%;
  }
  .navbar__button {
    padding: 10px 27px 10px 26px;
    font-size: 13px;
  }
  .header__main__title__company {
    margin-bottom: 20px;
  }
  .header__main__title__company p {
    font-size: 13px;
    margin-left: 20px;
  }
  .header__main__title__text {
    font-size: 18px;
    width: 350px;
  }
  .header__main__title img {
    width: 65%;
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 950px) {
  .header {
    background-size: 40%;
  }
  .navbar__list__item {
    font-size: 15px;
  }
  .navbar__button {
    padding: 10px 27px 10px 26px;
    font-size: 12px;
  }
  .header__main__title__company {
    margin-bottom: 20px;
  }
  .header__main__title__company p {
    font-size: 12px;
    margin-left: 20px;
  }
  .header__main__title__text {
    font-size: 17px;
    width: 320px;
  }
  .header__main__title img {
    width: 60%;
    margin-bottom: 13px;
  }
}
@media only screen and (max-width: 850px) {
  .header {
    background-size: 40%;
  }
  .navbar__menu__logo {
    display: block;
  }
  .navbar__list__item {
    display: none;
    font-size: 15px;
  }
  .navbar__list__item:nth-child(1) {
    display: block;
  }
  .navbar__button {
    display: none;
    padding: 10px 27px 10px 26px;
    font-size: 12px;
  }
  .header__main__title__company {
    margin-bottom: 16px;
  }
  .header__main__title__company p {
    font-size: 11px;
    margin-left: 14px;
  }
  .header__main__title__company svg {
    width: 10px;
  }
  .header__main__title__text {
    font-size: 15px;
    line-height: 25px;
  }
  .header__main__title img {
    width: 60%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    background-size: 40%;
  }
  .navbar__menu__logo {
    display: block;
  }
  .navbar__list__item {
    display: none;
    font-size: 15px;
  }
  .navbar__list__item:nth-child(1) {
    display: block;
  }
  .navbar__button {
    display: none;
    padding: 10px 27px 10px 26px;
    font-size: 12px;
  }
  .header__main .container {
    display: block;
  }
  .header__main__title {
    display: none;
  }
  .header__main__title__text {
    font-size: 20px;
  }
  .header__main__image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__main__title__none {
    display: block;
  }
  .header__main__title__company p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    background-size: 40%;
  }
  .navbar__menu__logo {
    display: block;
  }
  .navbar__list__item {
    display: none;
    font-size: 15px;
  }
  .navbar__list__item:nth-child(1) {
    display: block;
  }
  .navbar__button {
    display: none;
    padding: 10px 27px 10px 26px;
    font-size: 12px;
  }
  .header__main .container {
    display: block;
  }
  .header__main__title {
    display: none;
  }
  .header__main__title__text {
    font-size: 20px;
    width: 90%;
  }
  .header__main__image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header__main__title__none {
    display: block;
  }
  .header__main__title__company p {
    font-size: 16px;
  }
}
.blog {
  background-image: url("./img/blog bg.png");
  background-repeat: no-repeat;
}
.blog__list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.blog__list__item {
  margin-top: 30px;
  width: 250px;
  height: 368px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #E6EDF5;
  background: #FFF;
  padding: 32px 32px 35px 32px;
}
.blog__list__item h2 {
  margin-top: 89px;
  color: #333;
  font-family: Hind Siliguri;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 18px;
}
.blog__list__item p {
  color: rgba(51, 51, 51, 0.5);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

@media only screen and (max-width: 650px) {
  .blog__list__item {
    width: 100%;
    margin-top: 30px;
  }
}
.feature {
  margin-top: 50px;
}
.feature__icon {
  display: flex;
  align-items: center;
}
.feature__icon p {
  color: #F07566;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
  margin-left: 20px;
  text-transform: uppercase;
}
.feature__list {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
.feature__list__item {
  width: 470px;
  flex-shrink: 0;
}
.feature__list__item__title {
  color: #333;
  font-family: Hind Siliguri;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
}
.feature__list__item__text {
  color: #333;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.feature__list__item__icon {
  width: 470px;
  height: 144px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 24px 48px 0px rgba(0, 17, 86, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 32px 26px 32px;
}
.feature__list__item img {
  width: 100%;
}
.feature__list__item__none {
  display: none;
}
.feature .star {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.feature .star p {
  margin-left: 20px;
  color: #333;
  font-family: Hind Siliguri;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

@media only screen and (max-width: 1200px) {
  .feature__list__item {
    width: 400px;
  }
  .feature__list__item:nth-child(1) {
    display: none;
  }
  .feature__list__item__title {
    line-height: 40px;
    font-size: 48px;
    margin-bottom: 20px;
  }
  .feature__list__item__text {
    line-height: 20px;
  }
  .feature__list__item__icon {
    height: 100px;
    width: 400px;
  }
}
@media only screen and (max-width: 1000px) {
  .feature__list {
    display: block;
  }
  .feature__list__item {
    width: 100%;
  }
  .feature__list__item__title {
    line-height: 60px;
    font-size: 70px;
    margin-bottom: 20px;
  }
  .feature__list__item__text {
    font-size: 20px;
    line-height: 20px;
  }
  .feature__list__item__icon {
    margin-top: 30px;
    font-size: 20px;
    height: 130px;
    width: 100%;
  }
  .feature__list__item:nth-child(1) {
    display: block;
  }
  .feature__list__item:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .feature__list {
    display: block;
  }
  .feature__list__item {
    width: 100%;
  }
  .feature__list__item__title {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 20px;
  }
  .feature__list__item__text {
    font-size: 20px;
    line-height: 20px;
  }
  .feature__list__item__icon {
    margin-top: 30px;
    font-size: 20px;
    height: 130px;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .feature__list {
    display: block;
  }
  .feature__list__item {
    width: 100%;
  }
  .feature__list__item__title {
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .feature__list__item__text {
    font-size: 20px;
    line-height: 30px;
  }
  .feature__list__item__icon {
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    height: 150px;
    width: 100%;
  }
}
.portfolio {
  margin-top: 80px;
}
.portfolio .container {
  display: block;
}
.portfolio__icon {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.portfolio__icon h3 {
  margin-left: 20px;
  color: #F07566;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.portfolio h2 {
  color: #333;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
  margin-bottom: 28px;
}
.portfolio p {
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.portfolio__list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__list__item {
  width: 50%;
  list-style: none;
}
.portfolio__list__item h2 {
  color: #333;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 32px; /* 133.333% */
}
.portfolio__list__item p {
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 32px; /* 200% */
}
.portfolio__list__item img {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .portfolio__list__item {
    width: auto;
  }
  .abc {
    font-size: 16px;
  }
}
.logo__list {
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.logo__list__item {
  margin-top: 20px;
}

@media only screen and (max-width: 400px) {
  .logo__list {
    justify-content: center;
  }
}
.design {
  width: 100%;
  margin-top: 180px;
  height: 350px;
  flex-shrink: 0;
  background: #F07566;
}

.design__list {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  list-style: none;
}

.design__list__item:nth-child(1) {
  position: absolute;
  top: -100px;
}

.design__list__item:nth-child(2) {
  position: relative;
  left: 600px;
}
.design__list__item:nth-child(2) h2 {
  margin-top: 50px;
  color: #FFF;
  font-family: Hind Siliguri;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
  width: 500px;
  margin-bottom: 30px;
}
.design__list__item:nth-child(2) p {
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  width: 500px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

@media only screen and (max-width: 1300px) {
  .design__list {
    height: 400px;
  }
  .design__list__item:nth-child(1) {
    position: absolute;
  }
  .design__list__item:nth-child(2) {
    position: relative;
    left: 500px;
    margin-bottom: 80px;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: 50px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1px;
    width: 500px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1150px) {
  .design {
    height: 300px;
  }
  .design__list__item:nth-child(1) {
    position: absolute;
    top: -50px;
  }
  .design__list__item:nth-child(1) img {
    width: 80%;
  }
  .design__list__item:nth-child(2) {
    position: relative;
    left: 400px;
    margin-bottom: 80px;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: -20px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1px;
    width: 500px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1050px) {
  .design {
    height: 250px;
  }
  .design__list__item:nth-child(1) {
    position: absolute;
    top: -70px;
  }
  .design__list__item:nth-child(1) img {
    width: 75%;
  }
  .design__list__item:nth-child(2) {
    position: relative;
    left: 350px;
    margin-bottom: 120px;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: -20px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 114.286% */
    letter-spacing: -1px;
    width: 500px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 950px) {
  .design {
    height: 250px;
  }
  .design__list__item:nth-child(1) {
    position: absolute;
    display: none;
    top: -70px;
  }
  .design__list__item:nth-child(2) {
    position: relative;
    margin-bottom: 120px;
    left: 20px;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: -20px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 114.286% */
    letter-spacing: -1px;
    width: 500px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 950px) {
  .design {
    height: 250px;
  }
  .design__list__item:nth-child(1) {
    position: absolute;
    display: none;
    top: -70px;
  }
  .design__list__item:nth-child(2) {
    position: relative;
    margin-bottom: 120px;
    left: 20px;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: -20px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 114.286% */
    letter-spacing: -1px;
    width: 500px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 580px) {
  .design {
    width: 100%;
  }
  .design__list__item:nth-child(2) {
    position: static;
  }
  .design__list__item:nth-child(2) h2 {
    margin-top: -20px;
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 114.286% */
    letter-spacing: -1px;
    width: 100%;
    margin-bottom: 10px;
  }
  .design__list__item:nth-child(2) p {
    font-size: 16px;
    width: 100%;
  }
}
.team {
  margin-top: 80px;
}
.team .container {
  display: block;
}
.team__icon {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.team__icon h3 {
  margin-left: 20px;
  color: #F07566;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.team h2 {
  color: #333;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
  margin-bottom: 28px;
}
.team p {
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.team__list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team__list__item {
  padding: 20px;
  width: 32%;
  list-style: none;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid #E6EDF5;
  background: #FFF;
}
.team__list__item h2 {
  color: #333;
  text-align: start;
  font-family: Hind Siliguri;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 32px; /* 133.333% */
}
.team__list__item p {
  color: rgba(51, 51, 51, 0.5);
  text-align: start;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 32px; /* 200% */
}
.team__list__item img {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .team__list__item {
    width: auto;
  }
  .abc {
    font-size: 16px;
  }
}
.contactUs {
  margin-top: 80px;
  width: 100%;
}
.contactUs .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.contactUs .container .contactUs__list {
  list-style: none;
  display: flex;
  border-radius: 8px;
  background: #F07566;
}
.contactUs .container .contactUs__list__item {
  padding: 8px 66px 130px 120px;
}
.contactUs .container .contactUs__list__item h2 {
  color: #FFF;
  font-family: Hind Siliguri;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
}
.contactUs .container .contactUs__list__item button {
  padding: 11px 33px 11px 34px;
  color: #333;
  text-align: center;
  font-family: Hind Siliguri;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 190px;
  height: 48px;
  flex-shrink: 0;
  letter-spacing: 1px;
  border: none;
  margin-top: 50px;
  border-radius: 6px;
  background: #FBD34B;
  text-transform: uppercase;
}
.contactUs .container .contactUs__list__item p {
  color: #FFF;
  font-family: Work Sans;
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.contactUs .container .contactUs__list__item input {
  width: 314px;
  height: 114px;
  flex-shrink: 0;
  margin-top: 70px;
  color: rgba(51, 51, 51, 0.5);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 9px 0 45px 16px;
}

@media only screen and (max-width: 1150px) {
  .contactUs {
    margin-top: 80px;
    width: 100%;
  }
  .contactUs .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .contactUs .container .contactUs__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background: #F07566;
  }
  .contactUs .container .contactUs__list__item {
    padding: 8px 66px 130px 120px;
  }
  .contactUs .container .contactUs__list__item h2 {
    color: #FFF;
    font-family: Hind Siliguri;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1px;
  }
  .contactUs .container .contactUs__list__item button {
    padding: 11px 33px 11px 34px;
    font-size: 14px;
    width: 110%;
    height: 48px;
    margin-top: 50px;
  }
  .contactUs .container .contactUs__list__item p {
    color: #FFF;
    font-family: Work Sans;
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .contactUs .container .contactUs__list__item input {
    width: 214px;
    height: 90px;
    flex-shrink: 0;
    margin-top: 70px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    padding: 9px 0 45px 16px;
  }
}
@media only screen and (max-width: 950px) {
  .contactUs__list {
    display: flex;
    flex-direction: column;
  }
  .contactUs__list__item:nth-child(1) h2 {
    width: 250%;
  }
}
@media only screen and (max-width: 800px) {
  .contactUs__list {
    display: flex;
    flex-direction: column;
  }
  .contactUs__list__item:nth-child(1) {
    width: 370px;
  }
  .contactUs__list__item:nth-child(1) h2 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */